{
  "root":true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "no-console": "off",
    "no-inner-declarations": "warn",
    "no-constant-condition": ["error", {"checkLoops": false}],
    "no-unused-vars": ["error", { "args": "none" }],
    "no-var": "error",
    "non-ascii": ["error",{"allowedChars":"°"}]
  }
}