.DS_Store
npm-debug.log
node_modules
.nyc_output
/nbproject/private/
coverage
test/**/*.html

.idea/modules.xml
.idea/obnizjs.iml
.idea/vcs.xml
.idea/workspace.xml
temp
.idea
log

/test*.js
/test*.html
/test/test*.html
/test/test*.js
/test/test*.ts
.vscode
/.run/
/.env.realtest
/.env.realtest

