name: test

on: [push]

jobs:
  build-test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [10.x, 11.x, 12.x, 13.x, 14.x, 15.x]

    runs-on: ${{ matrix.os }}

    env:
      TZ: Asia/Tokyo

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - uses: mansona/npm-lockfile-version@v1

      - name: Cache node_modules
        id: node_modules-cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ matrix.os }}-node-v${{ matrix.node }}-npm-

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Test
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: npm test

  slack-notify:
    name: workflow notification to slack
    runs-on: ubuntu-latest
    needs: [build-test]
    if: always()
    steps:
      - uses: come25136/workflow-notification-for-slack@1.0.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          name: "obniz.js CI"
          icon_url: ${{ secrets.SLACK_ICON_URL }}
